Package: bu
Version: 1.1-1
Architecture: all
Maintainer: Scott Behrens <behrens@mcs.anl.gov>
Installed-Size: 36
Depends: bzip2 (>= 1.0.2-1), libbz2-1.0, libc6 (>= 2.2.4-4)
Section: unknown
Priority: optional
Description: A shell program to back up files using timestamp as file name and compression with bzip.
 This program does things and stuff.
